/*
  --backgroundColor: #292b2e;
    --outlineColor: #c5c8c6;
    --textColor: #fdf6e3;
*/
* {
    border: none;
    border-radius: 0;
    font-size: 13px;
    font-family: 'JetBrains Mono Nerd';
}

/* Logo from https://aur.archlinux.org/packages/ttf-font-logos */
.layout-emoji {
  font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji", sans-serif;
}

#waybar {
    background: #1d2021;
    color: #fdf1c7;
    opacity: 0.9;
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
  color: #fbf1c7;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  background: #181818;
  border-bottom: 2px solid #d3869b;
}

#workspaces button:hover {
  background: #393c40;
  border: #1a1a1a;
  padding: 0 3px;
}

#clock {
  background: #393c40;
  border: #1a1a1a;
  padding: 0 3px;
}

#custom-language {
  font-family: "Noto Color Emoji";
}

#custom-arch {
  color: white;
  background: #e91e63;
}
